- provide(:title, 'Home')
.container.center
  %h4.ad-head.text-black.text-uppercase.mb-3
    %h2.head-title У нас вы можете найти, разместить, продать или купить канал, чат, бота или даже услугу
    #header-carousel.carousel.slide.carousel-fade{"data-bs-ride" => "carousel"}
      .carousel-inner
        .carousel-item.active
          %img
            = image_pack_tag "carousel-1.jpg", class:"w-100"
            .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', '/rooms/1'

        .carousel-item
          %img
            = image_pack_tag "carousel-1.jpg", class:"w-100"
            .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', '/rooms/1'
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#header-carousel", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Предыдущее
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#header-carousel", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Следующее
        / Navbar & Carousel End

  %br
  %h2.head-title Поиск по сайту
  %br
  .container-fluid
    = form_tag results_path, method: :get, role: 'search' do
      = text_field_tag :query, params[:query], placeholder: "Поиск...", class: 'seacrhfrom'
      = submit_tag "Go!", name: nil, class: 'searchbtn'
  %br


  .container-fluid.bg-dark.text-light.mt-5.wow.fadeInUp{"data-wow-delay" => "0.1s"}
    .container
      .row
        .col-lg-12.col-md-12.footer-about
          .d-flex.flex-column.justify-content-center.text-center.h-100.bg-primary.p-4
            %a.navbar-brand{:href => root_path}
              %h1.text-white
                %i.fas.fa-user-tie.me-2
                Telegagid
            %p.mt-3.mb-4 Для размещения канала/бота/услуги в каруселе на главной странице сайта, просто напишите нашему менеджеру и получите полный рекламный прайс
            = form_tag send_message_path, method: :post do
              .input-group
                = text_field_tag :content, nil, required: true, class: "form-control", style: "border-white p-3"
                %button.btn.btn-dark= "Отправить"
  %br
  %h2.head-title Полезная информация

  .container-fluid
    = render 'microposts/microposts'
  %br


  %h2.head-title Последние объявления
  %br
  .container-fluid
    = render 'rooms/room'

    /= link_to "Send privat message", "https://api.telegram.org/bot5161299756:AAG28V_mJ5x7Qg8MwPcMMvw0Gc1ZIqMx_7U/sendMessage?chat_id=1961648829&text=direct message", target: " _blank"
    /= link_to "Send group message", "https://api.telegram.org/bot5161299756:AAG28V_mJ5x7Qg8MwPcMMvw0Gc1ZIqMx_7U/sendMessage?chat_id=-634155082&text=group message", target: " _blank"
    /= button_to "Send group message via controller", blog_pages_group_message_path
    /= button_to "Send private message via controller", blog_pages_privat_message_path

    /= form_tag send_message_path, method: :post do
    /  = text_field_tag :content, nil, required: true
    /  %hr
    /  = submit_tag "Say hello"

    /= params[:id]
    /= params[:first_name]
    /= params[:last_name]
    /= params[:customername]
    /= params[:auth_date]
    /= params[:hash]
