- provide(:title, 'Home')
.container.center
  %h4.ad-head.text-black.text-uppercase.mb-3
    %h2.head-title У нас вы можете найти, разместить, продать
    %br
    %h2.head-title или купить канал, чат, бота или даже услугу
    #header-carousel.carousel.slide.carousel-fade{"data-bs-ride" => "carousel"}
      .carousel-inner
        .carousel-item.active
          - if @carousel_rooms_first.present?
            %img
              = image_tag @carousel_rooms_first.image.url(:large), class:"w-100" if @carousel_rooms_first.image?
            .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', @carousel_rooms_first
          - else
            %img
              = image_pack_tag "carousel-1.jpg", class:"w-100"
              .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', '/rooms/1'

        .carousel-item
          - if @carousel_rooms_last.present?
            %img
              = image_tag @carousel_rooms_last.image.url(:large), class:"w-100" if @carousel_rooms_last.image?
            .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', @carousel_rooms_last
          - else
            %img
              = image_pack_tag "carousel-1.jpg", class:"w-100"
              .carousel-caption.d-flex.flex-column.align-items-center.justify-content-center
              .p-1{:style => "max-width: 900px;"}
                %h3.display-4.text-white.mb-md-4.animated.zoomIn
                  = link_to 'Читать', '/rooms/1'
      %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#header-carousel", :type => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.visually-hidden Предыдущее
      %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#header-carousel", :type => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.visually-hidden Следующее
        / Navbar & Carousel End

  %br

  %h2.head-title Полезная информация

  .container-fluid
    = render 'microposts/microposts'
  %br
  %h2.head-title Популярные Телеграм-каналы
  %br
  .container-fluid
    = render 'telechannels/telechannels'

  %h2.head-title Последние объявления
  %br
  .container-fluid
    = render 'rooms/room'

    /= link_to "Send privat message", "https://api.telegram.org/bot5161299756:AAG28V_mJ5x7Qg8MwPcMMvw0Gc1ZIqMx_7U/sendMessage?chat_id=1961648829&text=direct message", target: " _blank"
    /= link_to "Send group message", "https://api.telegram.org/bot5161299756:AAG28V_mJ5x7Qg8MwPcMMvw0Gc1ZIqMx_7U/sendMessage?chat_id=-634155082&text=group message", target: " _blank"
    /= button_to "Send group message via controller", blog_pages_group_message_path
    /= button_to "Send private message via controller", blog_pages_privat_message_path

    /= form_tag send_message_path, method: :post do
    /  = text_field_tag :content, nil, required: true
    /  %hr
    /  = submit_tag "Say hello"

    /= params[:id]
    /= params[:first_name]
    /= params[:last_name]
    /= params[:customername]
    /= params[:auth_date]
    /= params[:hash]
