%h3
  Результаты поиска по запросу
  %em= params[:query]
  = form_with url: "/search", method: :get do |form|
    = form.label :query, "Search for:"
    - if :category == "Бот"
      = form.select :category,["-> выбрать <-", "Администрирование", "Взаимопиар", "Создание и продвижение", "Комментарии", "Контент", "Лайки", "Накрутка"]
    = form.text_field :query
    = form.submit "Search"
