%h3
  .form-group.mb-3
  = form_with(model: @room, url: "/search", method: :get) do |f|
    .form-group.mb-3
      = f.label :query, "Найти или   "
      = link_to 'Разместить', new_room_path
    .form-group.mb-3
      = f.text_field :query, placeholder: 'текст поиска...'
    .form-group.mb-3
      = f.select :cat_route,[" ", "Канал", "Бот", "Услуга"], class: 'form-control' if :cat_route?
    .form-group.mb-3
      = f.select :city,[" ", "Москва", "Санкт-Петербург", "Сочи", "Краснодар", "Самара", "Тольятти", "Ростов", "Новосибирск", "Новороссийск", "Крым", "Анапа", "Геленджик", "Уфа", "Красноярск", "Хабаровск", "Владивосток", "Владикавказ"]
    .form-group.mb-3
      = f.select :category,[" ", "Авто/мото", "Авторский блог", "Аниме/Манга/Манха/Манхуа", "Афиша", "Бизнес", "Блогеры", "Видеоигры", "В мире животных", "Гороскоп и Таро", "Дети и родители", "Дизайн", "Для мужчин", "Для женщин", "Инвестиции", "Интернет технологии", "Искусство", "История",
        "Каталог каналов", "Кино", "Красота и уход", "Криптовалюта", "Культура и события", "Кулинария", "Литература", "Магазин", "Маркетинг и PR", "Мода и стиль", "Мотивация и саморазвитие", "Музыка", "Наука и  технологии", "Недвижимость", "Новости и СМИ", "Образование", "Подкасты", "Пошлое", "Психология", "Путешествия и туризм", "Работа и вакансии",
        "Развлечения", "Религия и духовность", "Рукоделие", "Сервисы", "Скидки и акции", "Сливы", "Спорт", "Ставки и азартные игры", "Строительство и ремонт", "Трейдинг", "Фильмы и сериалы", "Хоббы", "Цитаты", "Экология", "Юмор", "18+", "SMM", "IT", "Gif Video"],
        class: 'form-control' if :cat_route?
      = f.submit "Search"
