- provide(:title, 'Search results')
%h3
  Результаты поиска по запросу
  %em= params[:query]
- @search_results_rooms.each do |result|
  %h4
    = link_to result.name, result
  %div
    = result.content.html_safe
  %hr/

  %em= params[:query]
- @search_results_telechannels.each do |result|
  %h4
    = link_to result.name, result
  %div
    = result.content.html_safe
  %hr/

  %em= params[:query]
- @search_results_microposts.each do |result|
  %h4
    = link_to result.name, result
  %div
    = result.content.html_safe
  %hr/
