= simple_form_for (@customer) do |f|
  = render 'shared/error_messages'
  = f.input :name, placeholder: 'Имя', class: 'form-control'
  = f.input :email, placeholder: 'Почта', class: 'form-control'
  = f.input :password, placeholder: 'Пароль', class: 'form-control'
  = f.input :password_confirmation, placeholder: 'подтверждение пароля', class: 'form-control'
  = f.button :submit, placeholder: "Зарегистрироваться", class: "btn btn-primary"
