- provide(:title, @title)
.row
  %aside.col-md-4
    %section.customer_info
      = @customer.name
      %h1= @customer.name
      %span= link_to "мой профиль", @customer
      %span
        %b Сообщения:
        = @customer.posts.count
    %section.stats
      = render 'shared/stats'
      - if @customers.any?
        .customer_avatars
          - @customers.each do |customer|
            = link_to customer.name, customer
  .col-md-8
    %h3= @title
    - if @customers.any?
      %ul.customers.follow= render @customers
