- provide(:title, @customer.name)
.row
  %aside.col-md-4
    %section.customer_info
      %h1
      %p= gravatar_for @customer
      %p Имя:
      %b= @customer.name
      %p Email
      %b= @customer.email
      %p Телефон
      %b= @customer.cell

%section.stats= render 'shared/stats'
.col-md-8
  = render 'follow_form' if logged_in?

= link_to 'Изменить информацию', edit_customer_path

%h2= link_to 'Создать новое объявление', new_room_path
.col-md-8
  - if @customer.posts.any?
    %h3
      Сообщения (#{@customer.posts.count})
    %ol.posts= render @posts
