= form_with(model: room, local: true, html: {multipart: true}) do |f|
  - if @room && @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message

  .form-group.mb-3
    = f.label 'Название'
    = f.text_field :name, class: 'form-control'
  .form-group.mb-3
    = f.label 'Описание'
    = f.text_field :content, class: 'form-control'
  .form-group.mb-3
    = f.label 'Изображение'
    = f.file_field :image, class: 'form-control'
  .actions
    = f.submit 'Создать', class: 'btn btn-outline-primary btn-block', style: "width: 100%"
