= form_with(model: @room, local: true, html: {multipart: true}) do |f|
  - if @room && @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .form-group.mb-3
    = f.select :cat_route,[ "Канал", "Чат", "Бот", "Услуга"], {include_blank: true, prompt: "- Канал/Чат/Бот/Услуга -"}, class: 'form-control'
    - if :cat_route == "Услуга"
      .form-group.mb-3
        = f.select :subdir,["-> выбрать <-", "Администрирование", "Взаимопиар", "Создание и продвижение", "Комментарии", "Контент", "Лайки", "Накрутка"], class: 'form-control'
  .form-group.mb-3
    = f.select :route,["Купить", "Продать", "Найти", "Разместить"], {include_blank: true, prompt: "- Купить/Продать/Найти/Разместить -"}, class: 'form-control'
  .form-group.mb-3
    = f.select :city,["Не имеет значение", "Москва", "Санкт-Петербург", "Сочи", "Краснодар", "Самара", "Тольятти", "Ростов", "Новосибирск", "Новороссийск", "Крым", "Анапа",
      "Геленджик", "Уфа", "Красноярск", "Хабаровск", "Владивосток", "Владикавказ"], {include_blank: true, prompt: "- выбрать город -"}, class: 'form-control'
  .form-group.mb-3
    = f.label 'Название'
    = f.text_field :name, placeholder: "Введите название", class: 'form-control'
  .form-group.mb-3
    = f.label 'Описание'
    = f.text_field :content, placeholder: "Описание объявления", class: 'form-control'
  .form-group.mb-3
    = f.label 'Категория'
    = f.select :category,["Авто/мото", "Авторский блог", "Аниме/Манга/Манха/Манхуа", "Афиша", "Бизнес", "Блогеры", "Видеоигры", "В мире животных", "Гороскоп и Таро", "Дети и родители", "Дизайн", "Для мужчин", "Для женщин", "Инвестиции", "Интернет технологии", "Искусство", "История",
      "Каталог каналов", "Кино", "Красота и уход", "Криптовалюта", "Культура и события", "Кулинария", "Литература", "Магазин", "Маркетинг и PR", "Мода и стиль", "Мотивация и саморазвитие", "Музыка", "Наука и  технологии", "Недвижимость", "Новости и СМИ", "Образование", "Подкасты", "Пошлое",
      "Психология", "Путешествия и туризм", "Работа и вакансии", "Развлечения", "Религия и духовность", "Рукоделие", "Сервисы", "Скидки и акции", "Сливы", "Спорт", "Ставки и азартные игры", "Строительство и ремонт", "Трейдинг", "Фильмы и сериалы", "Хоббы",
      "Цитаты", "Экология", "Юмор", "18+", "SMM", "IT", "Gif Video", "Другое"], {include_blank: true, prompt: "- выбрать категорию -"}, class: 'form-control'
  .form-group.mb-3
    = f.label 'Изображение'
    = f.file_field :image, class: 'form-control'
  .form-group.mb-3
    = f.check_box :free, id: 'free', class: 'form-check-input'
    %b= f.label :option, 'Free - без продвижения', class: 'form-check-label', for: 'free'
  .form-group.mb-3
    = f.check_box :hot, id: 'hot', class: 'form-check-input'
    %b= f.label :hot, 'Поднять просмотры на 7 дней', class: 'form-check-label', for: 'hot'
    = f.label '(Делает ваше объявление более заметным по сравнению с другими)', class: 'form-check-label small', for: 'hot'
  .form-group.mb-3
    = f.check_box :big_size, id: 'big_size', class: 'form-check-input'
    %b= f.label :option, 'XXL-размер', class: 'form-check-label', for: 'big_size'
    = f.label '(Объявление в ленте выдачи будет крупнее, а рядом с ним появится подробное описание)', class: 'form-check-label small', for: 'big_size'
  .form-group.mb-3
    = f.check_box :carousel, id: 'carousel', class: 'form-check-input'
    %b= f.label :option, 'Карусель', class: 'form-check-label', for: 'carousel'
    = f.label '(Размещение объявления в карусели на главной странице. Доступно для всех категорий)', class: 'form-check-label small', for: 'carousel'
  %br
  .actions
    = f.submit 'Создать', class: 'btn btn-outline-primary btn-block', style: "width: 100%"
