= form_with(model: @room, local: true, html: {multipart: true}) do |f|
  - if @room && @room.errors.any?
    #error_explanation
      %h2= "#{pluralize(@room.errors.count, "error")} prohibited this room from being saved:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .form-group.mb-3
    = f.select :cat_route,[ "Канал", "Чат", "Бот", "Услуга"], {prompt: "- Что размещаем? -"}, class: 'form-control'
  .form-group.mb-3
    = f.select :subdir,["Администрирование", "Взаимопиар", "Создание и продвижение", "Комментарии", "Контент", "Лайки", "Накрутка"], {prompt: "Категория услуг"}, class: 'form-control'
  #other_blocks
    .form-group.mb-3
      = f.select :route,["Купить", "Продать"], {prompt: "- Тип объявления -"}, class: 'form-control'
    .form-group.mb-3
      = f.select :city,["Не имеет значение", "Абаза", "Абакан", "Абан","Абатский","Абдулино","Абезь","Абинск",
        "Абрамцево","Абрау-Дюрсо","Абый","Аган","Агаповка","Агвали","Агеево","Агинское","Агрыз","Адамовка",
        "Адыгейск","Азнакаево", "Азов", "АйгуньАйдырлинский", "Айкино", "Ак-Довурак", "Акбулак", "Аккермановка",
        "Аксай", "Аксаково", "Аксарка", "Аксеново-Зиловское", "Аксубаево", "АкташАктюбинский", "Акутиха", "Акуша",
        "Акша", "Алабино", "АлагирАлапаевск", "Алатырь", "АлданАлейск", "Александро-Невский", "Александров Гай",
        "Александров", "Александровск-Сахалинский", "АлександровскаяАлександровский ЗаводАлександровское", "Алексеевка",
        "Алексеевск", "Алексеевская", "Алексеевское", "Алексин", "Алзамай", "Аликово", "АлмазныйАлнаши", "Алтайский",
        "Алтухово", "Алтынай", "Алущевск", "Алыгжер", "Альменево", "Альметьевск", "Амазар", "Амбарный", "Амга",
        "Амдерма", "АмзяАмурск", "Анадырь", "Анапа", "Анбэцу", "Ангарск", "Андреаполь", "Андреево", "Андропов",
        "Анжеро-Судженск", "Анива", "Анна", "Анопино", "Антропово", "Анучино", "Анциферово", "Апастово", "Апатиты",
        "Апрелевка", "Апшеронск", "Арамиль", "Арбагар", "Арбаж", "Аргаяш", "Аргун", "Ардатов", "Ардон", "Арзамас", "Арзгир",
        "Аркадак", "Аркуль", "Армавир", "Армизонское", "Аромашево", "Арсеньев", "Арсеньево", "Арск", "Артем", "Артемовск",
        "Артемовский", "Арти", "Архангельск", "Архангельское", "Архара", "Архипо-Осиповка", "Архиповка", "Аршань",
        "Арья", "Асбест", "Асекеево", "Асино", "Аскиз", "Аскино", "Астрахань", "Атагай", "Атамановка", "Атка",
        "Аткарск", "Атласово", "Атюрьево", "Атяшево", "Афипский", "Африканда", "Ахтубинск", "Ахты", "Ахтырский",
        "Ачинск", "Ачису", "Ачит", "Ачуево", "Аша", "Ашитково", "Аютинск", "Аян", "Аянка", "Бабаево", "Бабаюрт",
        "Бабушкин", "Бабынино", "Бавлены", "Бавлы", "Багаевский", "Баган", "Багдарин", "Багратионовск", "Баево",
        "Базарные Матаки", "Базарный Карабулак", "Базарный Сызган", "Бай Хаак", "Байкал", "Байкалово", "Байкальск",
        "Байкит", "Байконур", "Баймак", "Бакал", "Бакалы", "Баксан", "Бакчар", "Бакшеево", "Балабаново", "Балаганск",
        "Балакирево", "Балаково", "Балахна", "Балахта", "Балашиха", "Балашов", "Балезино", "Балей", "Балтай", "Балтаси",
        "Балтийск", "Балыгычан", "Балыкса", "Барабинск", "Баргузин", "Барда", "Барзас", "Барнаул", "Барсуки", "Барыбино",
        "Барыш", "Барятино", "Басьяновский", "Батагай", "Батайск", "Батецкий", "Батурино", "Батырева", "Башмаково",
        "Баянгол", "Баяндай", "Бегичевский", "Беднодемьяновск", "Бежаницы", "Бежецк", "Бежта", "Безенчук", "Беково",
        "Белая Березка", "Белая Калитва", "Белая Холуница", "Белая", "Белгород", "Белебей", "Белев", "Белинский",
        "Белово", "Белогорск", "Белозерск", "Белокуриха", "Беломорск", "Белоомут", "Белорецк", "Белореченск", "Белоусово",
        "Белоярск", "Белоярский", "Белые Берега", "Белые Столбы", "Белый Городок", "Белый Яр", "Белый", "Бельтырский",
        "Беляевка", "Бердигестях", "Бердск", "Бердюжье", "Береговой", "Березайка", "Березник", "Березники", "Березовский",
        "Березовый", "Берендеево", "Беринговский", "Беркакит", "Беслан", "Бессоновка", "Бестях", "Бетлица", "Бея",
        "Биаза", "Бижбуляк", "Бийск", "Бикин", "Билибино", "Бира", "Биракан", "Биробиджан", "Бирск", "Бирюсинск",
        "Бискамжа", "Бичура", "Благовещенск (Амурская обл.)", "Благовещенск", "Благодарный", "Бобров", "Богатое",
        "Богатые Сабы", "Богатырь", "Богданович", "Боговарово", "Боголюбово", "Богородицк", "Богородск", "Богородское",
        "Боготол", "Боград", "Богучаны", "Богучар", "Бодайбо", "Боковская", "Бокситогорск", "Бологое", "Болонь",
        "Болотное", "Болохово", "Болхов", "Большая Вишера", "Большая Глущица", "Большая Ижора", "Большая Мартыновка", "Большая Мурта",
        "Большая Речка", "Большая Соснова", "Большая Черниговка", "Большевик", "Большерецк", "Большереченск", "Большеречье",
        "Большеустьикинское", "Большие Березники", "Большие Уки", "Большое Болдино", "Большое Игнатово", "Большое Козино",
        "Большое Мурашкино", "Большое Нагаткино", "Большое Пикино", "Большое Полпино", "Большое Село", "Большое Солдатское",
        "Большое Сорокино", "Большой Камень", "Большой Луг", "Большой Улуй", "Бондари", "Бор", "Борзя", "Борисовка",
        "Борисоглебск", "Борисоглебский", "Боровичи", "Боровлянка", "Боровой", "Боровск", "Борогонцы", "Бородино",
        "Борское", "Ботлих", "Бохан", "Бошняково", "Братск", "Бреды", "Брежнев", "Брейтово", "Бронницы", "Брянск",
        "Бугульма", "Бугуруслан", "Буденновск", "Будогощь", "Бузулук", "Буинск", "Буй", "Буйнакск", "Букачача", "Буланаш",
        "Бураево", "Бурла", "Бурмакино", "Бурон", "Бурсоль", "Бутурлино", "Бутурлиновка", "Быков", "Быково", "Бытошь",
        "Вавож", "Вагай", "Вад", "Вадинск", "Валаам", "Валдай", "Валентин", "Валуево", "Валуйки", "Ванавара", "Ванино",
        "Ванкарем", "Варгаши", "Варегово", "Варна", "Варнавино", "Васильево", "Васильевский Мох", "Васильсурск", "Вахрушев",
        "Вахтан", "Вача", "Вачи", "Вейделевка", "Велегож", "Велетьма", "Велиж", "Великие Луки", "Великий Устюг", "Великодворский",
        "Вельск", "Венгерово", "Венев", "Вербилки", "Вербовский", "Верещагино", "Верея", "Верхнебаканский", "Верхневилюйск",
        "Верхнеднепровский", "Верхнеимбатск", "Верхнеколымск", "Верхнетуломский", "Верхнеуральск", "Верхнеяркеево", "Верхние Киги",
        "Верхние Татышлы", "Верхний Авзян", "Верхний Баскунчак", "Верхний Ландех", "Верхний Мамон", "Верхний Тагил", "Верхний Услон",
        "Верхний Уфалей", "Верхняя Инта", "Верхняя Пышма", "Верхняя Салда", "Верхняя Синячиха", "Верхняя Сысерть", "Верхняя Тойма",
        "Верхняя Тура", "Верхняя Хава", "Верховажье", "Верховье", "Верхозим", "Верхотурье", "Верхошижемье", "Верхоянск",
        "Ветлуга", "Вешенская", "Вешкайма", "Взморье", "Видим", "Видное", "Визинга", "Викулово", "Вилюйск", "Вилючинск",
        "Виля", "Винзили", "Вирандозеро", "Висим", "Витим", "Витимский", "Вихоревка", "Вичуга", "Владивосток", "Владикавказ",
        "Владимир", "Власово", "Внуково", "Водный", "Вожаель", "Вождь Пролетариата", "Вожега", "Возжаевка", "Вознесенское", "Вознесенье",
        "Возрождение", "Волга", "Волгоград", "Волгодонск", "Волгореченск", "Волжск", "Волжский", "Волово", "Вологда",
        "Володарск", "Володарский", "Волоколамск", "Волоконовка", "Волосово", "Волот", "Волочаевка Вторая", "Волошка",
        "Волхов", "Волчанск", "Волчиха", "Вольск", "Ворга", "Воркута", "Воробьевка", "Воронеж", "Вороново", "Воронцовка",
        "Воротынец", "Ворсма", "Воскресенск", "Воскресенское", "Восточный", "Востряково", "Восход", "Воткинск", "Вохтога",
        "Всеволожск", "Вуктыл", "Вурнары", "Выборг", "Выгоничи", "Выдрино", "Выездное", "Выкса", "Выползово", "Вырица",
        "Выселки", "Высокая Гора", "Высоковск", "Высокогорный", "Высокогорск", "Высоцк", "Вытегра", "Вычегодский", "Выша",
        "Вышков", "Вышний Волочек", "Вяземский", "Вязники", "Вязьма", "Вятские Поляны", "Гаврилов Посад", "Гаврилов Ям",
        "Гавриловка Вторая", "Гагарин", "Гагино", "Газимурский Завод", "Гай", "Гайны", "Галич", "Гари", "Гастелло",
        "Гатчина", "Гвардейск", "Гдов", "Геленджик", "Георгиевск", "Гергебиль", "Гешарт", "Гиагинская", "Гигант",
        "Гидроторф", "Гирвас", "Глазов", "Глазуновка", "Глинка", "Глотовка", "Глушково", "Глядянское", "Голицино",
        "Голынки", "Голышманово", "Горбатов", "Горбатовка", "Гордеевка", "Горелки", "Горно-Алтайск", "Горнозаводск",
        "Горные Ключи", "Горный", "Горняк", "Горняцкий", "Городец", "Городище", "Городищи", "Гороховец", "Горчуха",
        "Горшечное", "Горький", "Горьковское", "Горячегорск", "Горячий Ключ", "Грайворон", "Грамотеино", "Грахово",
        "Грачевка", "Гремячинск", "Грибановский", "Грозный", "Грязи", "Грязовец", "Губаха", "Губкин", "Губкинский",
        "Гудермез", "Гуково", "Гуниб", "Гурское", "Гурьевск", "Гусев", "Гусевский", "Гусиное Озеро", "Гусиноозерск",
        "Гусь Железный", "Гусь Хрустальный", "Давенда", "Давлеканово", "Давыдовка", "Дагестанские Огни", "Далматово",
        "Дальнегорск", "Дальнее Константиново", "Дальнереченск", "Данилов", "Данхов", "Дарасун", "Дарьинское", "Дебесы",
        "Дегтярск", "Деденево", "Дедовичи", "Дедовск", "Деманск", "Демидов", "Дербент", "Дербешкинский", "Дергачи",
        "Деревянка", "Деркул", "Десногорск", "Джамбейты", "Джаныбек", "Джержинский", "Джубга", "Дзержинск", "Дзержинское",
        "Дивеево", "Дивногорск", "Дивное", "Дигора", "Диксон", "Димитровград", "Динская", "Дмитриев-Льговский", "Дмитров",
        "Дмитровск-Орловский", "Дно", "Доброе", "Добрянка", "Довольное", "Долгое", "Долгопрудный", "Долгоруково", "Долинск",
        "Долматовский", "Домбай", "Домбаровский", "Домодедово", "Донецк", "Донское", "Донской", "Дормидонтовка", "Дорогобуж",
        "Дорохово", "Досчатое", "Дрезна", "Дровяная", "Дружная Горка", "Дубенский", "Дубки", "Дубна", "Дубовка",
        "Дубовский", "Дубовское", "Дубровка", "Дуван", "Дугна", "Дудинка", "Дудоровский", "Дульдурга", "Дуляпино",
        "Думиничи", "Духовницкое", "Духовщина", "Дылым", "Дюртюли", "Дятьково", "Евлашево", "Егорлыкская", "Егорьевск",
        "Ейск", "Екатеринбург", "Екатериновка", "Екатеринославка", "Екимовичи", "Елабуга", "Еланцы", "Елань",
        "Елань-Коленовский", "Елатьма", "Еленский", "Елец", "Елецкий", "Елизово", "Елово", "Ельники", "Ельня",
        "Ельцовка", "Еманжелинск", "Емва", "Емельяново", "Емца", "Енисейск", "Енотаевка", "Епифань", "Ербогачен", "Ермаковское",
        "Ермекеево", "Ермишь", "Ермолаево", "Ерофей Павлович", "Ертарский", "Ершичи", "Ершов", "Ершовка", "Ессентуки",
        "Ефимовский", "Ефремов", "Жарковский", "Железноводск", "Железногорск", "Железногорск", "Железногорск-Илимский", "Железнодорожный",
        "Жердевка", "Жигалово", "Жиганск", "Жигулевск", "Жиздра", "Жилево", "Жиндо", "Жирнов", "Жирновск", "Жирятино",
        "Жуковка", "Жуковский", "Забайкальск", "Забитуй", "Заветное", "Заветы Ильича", "Завитинск", "Заводопетровский", "Заводоуковск",
        "Заводоуспенское", "Заводской", "Заволжск", "Заволжье", "Завьялово", "Загорск", "Загорянский", "Задонск",
        "Заиграево", "Заинск", "Закаменск", "Залари", "Залегощь", "Залесово", "Заозерный", "Заозерск", "Заокский",
        "Западная Двина", "Заплюсье", "Заполярный", "Запрудная", "Зарайск", "Зареченск", "Заречный", "Заречье",
        "Заринск", "Зарубино", "Заток", "Захарово", "Зашеек", "Звездный", "Звенигово", "Звенигород", "Зверево", "Зебляки",
        "Зеленоборский", "Зеленогорск", "Зеленоград", "Зеленоградск", "Зеленодольск", "Зеленокумск", "Земетчино", "Зерноград",
        "Зея", "Зилаир", "Зима", "Зимовники", "Зирган", "Златоуст", "Златоустовск", "Злынка", "Змеиногорск", "Змиевка",
        "Знаменка", "Знаменск", "Знаменское", "Золотаревка", "Золотково", "Золотухино", "Зольное", "Зубова Поляна", "Зубцов",
        "Зуевка", "Зырянка", "Зыряновский", "Зырянское", "Зюзельский", "Зюкайка", "Ибреси", "Ивангород", "Иванищи",
        "Ивановка", "Иваново", "Ивантеевка", "Иваньковский", "Ивдель", "Ивня", "Иволгинск", "Ивот", "Игарка", "Иглино",
        "Игнатовка", "Игра", "Игрим", "Идель", "Идринское", "Идрица", "Ижевск", "Ижма", "Ижморский", "Избербаш",
        "Известковый", "Издешково", "Излучинск", "Измайлово", "Измалково", "Износки", "Изобильный", "Изоплит", "Изумруд",
        "Икряное", "Икша", "Иланский", "Илеза", "Илек", "Иловля", "Ильинский", "Ильинско-Подомское", "Ильинское-Хованское",
        "Илька", "Ильпырский", "Ильский", "Импалахти", "Инжавино", "Инза", "Инзер", "Иннокентьевка", "Иноземцево",
        "Инсар", "Инта", "Ипатово", "Ираель", "Ирбейское", "Ирбит", "Ириклинский", "Иркутск", "Ис", "Исаклы", "Исетское",
        "Исилькуль", "Искитим", "Исса", "Истра", "Исянгулово", "Итака", "Итатка", "Итатский", "Иульитин", "Ишеевка",
        "Ишим", "Ишимбай", "Йошкар-Ола", "Кабанск", "Кабардинка", "Кавалерово", "Кагальницкая", "Каджером", "Кадников",
        "Кадом", "Кадошкино", "Кадуй", "Кадый", "Кадыкчан", "Кажым", "Казановка", "Казанская", "Казанское", "Казань",
        "Казачинское", "Казинка", "Казталовка", "Казым-Мыс", "Калач", "Калач-на-Дону", "Калачинск", "Калашниково", "Калга",
        "Калевала", "Калинин", "Калининград", "Калинино", "Калининск", "Калининская", "Калмыково", "Калтан", "Калуга",
        "Калязин", "Кама", "Камбарка", "Каменка", "Каменногорск", "Каменномостский", "Каменоломни", "Каменск", "Каменск-Уральский",
        "Каменск-Шахтинский", "Каменский", "Каменское", "Камень-на-Оби", "Камень-Рыболов", "Камешково", "Каминский",
        "Камское Устье", "Камызяк", "Камышин", "Камышла", "Камышлов", "Канадей", "Кананикольское", "Канаш", "Кангалассы",
        "Кандалакша", "Кандры", "Каневская", "Канкунский", "Канск", "Кантемировка", "Капустин Яр", "Карабаново", "Карабаш",
        "Карабудахкент", "Карагай", "Караидель", "Караидельский", "Каракулино", "Карасук", "Карата", "Каратобе",
        "Каратузское", "Караул", "Карачаевск", "Карачев", "Каргаполье", "Каргасок", "Каргат", "Каргополь", "Кардымово",
        "Каринторф", "Карпинск", "Карпогоры", "Карпунинский", "Карсун", "Карталы", "Карымское", "Касимов", "Касли",
        "Каспийск", "Каспийский", "Касторное", "Касумкент", "Катав-Ивановск", "Катайга", "Катайск", "Катангли", "Катунки",
        "Качканар", "Качуг", "Кашары", "Кашин", "Кашира", "Квиток", "Кедровка", "Кежма", "Кез", "Кемерово", "Кемля",
        "Кемь", "Кенисберг", "Керва", "Керженец", "Керчевский", "Кесова Гора", "Кестеньга", "Кетово", "Кижинга",
        "Кизел", "Кизилюрт", "Кизляр", "Кизнер", "Кикерино", "Кикнур", "Килемары", "Кильдинстрой", "Кильмезь", "Кимовск",
        "Кимры", "Кингисепп", "Кинель", "Кинель-Черкасы", "Кинешма", "Киргиз-Мияки", "Киреевск", "Киренск", "Киржач",
        "Кириллов", "Кириши", "Киров", "Кировград", "Кирово-Чепецк", "Кировск", "Кировский", "Кирс", "Кирсанов",
        "Киря", "Киселевск", "Кисловодск", "Кичменгский Городок", "Киясово", "Клетня", "Клетский", "Климово", "Климовск",
        "Клин", "Клинцы", "Кличка", "Ключевский", "Ключи", "Клявлино", "Клязьма", "Княгинино", "Коболдо", "Кобра",
        "Кобринское", "Ковдор", "Ковернино", "Ковров", "Ковылкино", "Когалым", "Кодино", "Кодинск", "Кожевниково", "Кожино",
        "Кожым", "Козельск", "Козулька", "Козьмодемьянск", "Койгородок", "Кокаревка", "Кокошкино", "Коксовый", "Кокуй",
        "Кола", "Кологрив", "Коломна", "Колосовка", "Колпашево", "Колпино", "Колпны", "Колывань", "Колышлей", "Кольчугино",
        "Колюбакино", "Комаричи", "Коммунар", "Комсомольск", "Комсомольск-на-Амуре", "Комсомольский", "Комсомольское",
        "Конаково", "Конда", "Кондинское", "Кондоль", "Кондопога", "Кондрово", "Коноша", "Константиновск", "Конышевка",
        "Копейск", "Копьево", "Кораблино", "Коренево", "Кореновск", "Коркино", "Кормиловка", "Королев", "Короча",
        "Корсаков", "Корткерос", "Коряжма", "Коса", "Косино", "Кослан", "Костомукша", "Кострома", "Котельники", "Котельниково",
        "Котельнич", "Котлас", "Котово", "Котовск", "Кохма", "Кочево", "Кочкурово", "Кочубеевское", "Кочубей", "Кош-Агач",
        "Кошки", "Крапивинский", "Крапивная", "Красково", "Красная Гора", "Красная Горбатка", "Красная Заря", "Красноармейск",
        "Красноармейская", "Красноармейское", "Красноборск", "Красновишерск", "Красногвардейское", "Красногородское", "Красногорск",
        "Красногорское", "Краснодар", "Красное-на-Волге", "Краснозаводск", "Краснозерское", "Краснознаменск", "Краснокаменск",
        "Краснокамск", "Красноселькуп", "Краснослободск", "Краснотуранск", "Краснотурьинск", "Красноуральск", "Красноусольский",
        "Красноуфимск", "Краснощеково", "Красноярск", "Красные Баки", "Красные Четаи", "Красный Кут", "Красный Сулин",
        "Красный Ткач", "Красный Холм", "Красный Чикой", "Красный Яр", "Красный", "Кресцы", "Кривошеино", "Кромы",
        "Кронштадт", "Кропоткин", "Крутинка", "Крутиха", "Крыловская", "Крымск", "Крюково", "Кстово", "Кубинка",
        "Кувандык", "Кувшиново", "Кугеси", "Кудымкар", "Куеда", "Куженер", "Кузнецк", "Кузоватово", "Куйбышев", "Куйбышево",
        "Куйтун", "Кукмод", "Кукмор", "Кулебаки", "Култук", "Кулунда", "Кумены", "Кумертау", "Кумух", "Кумылженская",
        "Кунашак", "Кунгур", "Кунья", "Купавна", "Купино", "Курагино", "Курах", "Курган", "Курганинск", "Курильск",
        "Куркино", "Курманаевка", "Куровское", "Курсавка", "Курск", "Куртамыш", "Курумкан", "Курчатов", "Куса",
        "Кутулик", "Кушва", "Кушнаренково", "Кущевская", "Кшенский", "Кызыл", "Кыра", "Кырен", "Кытманово", "Кыштовка",
        "Кыштым", "Кяхта", "Кёнигсберг", "Лабинск", "Лабытнанги", "Лаврентия", "Лазо", "Лаишево", "Лангепас", "Ларьяк",
        "Лахденпохья", "Лебедянь", "Лебяжье", "Лев Толстой", "Левокумское", "Лениградская", "Лениногорск", "Ленинск",
        "Ленинск-Кузнецкий", "Ленинский", "Ленинское", "Ленск", "Лесное", "Лесной Городок", "Лесной", "Лесозаводск",
        "Лесосибирск", "Лешуконское", "Ливны", "Ликино-Дулево", "Лиман", "Липецк", "Липин Бор", "Лисий Нос", "Лиски",
        "Лихославль", "Лобня", "Лодейное Поле", "Локня", "Локоть", "Ломоносов", "Лопатино", "Лопатинский", "Лосино-Петровский",
        "Лотошино", "Лоухи", "Луга", "Луза", "Лукино", "Лукоянов", "Лух", "Луховицы", "Лучегорск", "Лысково", "Лысые Горы",
        "Лысьва", "Лыткарино", "Львовский", "Льгов", "Люберцы", "Любим", "Любинский", "Любытино", "Людиново", "Лямбирь",
        "Лянтор", "Магадан", "Магарамкент", "Магдагачи", "Магнитогорск", "Маджалис", "Майкоп", "Майна", "Майский",
        "Майя", "Макаров", "Макарьев", "Максатиха", "Макушино", "Малаховка", "Малая Вишера", "Малая Сердоба", "Малгобек",
        "Малмыж", "Малоархангельск", "Малояз", "Малоярославец", "Малые Дербеты", "Мама", "Мамадыш", "Мамоново", "Мамонтово",
        "Мантурово", "Марево", "Мари-Турек", "Мариинск", "Мариинский Посад", "Маркс", "Марьяновка", "Маслянино", "Матвеев Курган",
        "Матвеевка", "Махачкала", "Мглин", "Мегион", "Медведево", "Медвежьегорск", "Медвенка", "Медногорск", "Медынь",
        "Междуреченск", "Мезень", "Меленки", "Мелеуз", "Мельниково", "Менделеевск", "Мензелинск", "Менкеря", "Месягутово",
        "Мехельта", "Мещовск", "Миасс", "Мигулинская", "Миллерово", "Милославское", "Мильково", "Милютинская", "Минеральные Воды",
        "Минусинск", "Мирный", "Михайлов", "Михайловка", "Михайловск", "Михайловский", "Михайловское", "Михнево",
        "Мичуринск", "Мишкино", "Моготуй", "Могоча", "Можайск", "Можга", "Моздок", "Мокроус", "Мокроусово", "Мокшан",
        "Молоково", "Молчаново", "Монастырщина", "Монды", "Монино", "Мончегорск", "Моргауши", "Мордово", "Морки",
        "Морозовск", "Моршанск", "Мосальск", "Москва", "Мостовской", "Мотыгино", "Мошенское", "Мошково", "Мраково",
        "Муезерский", "Мужи", "Муравленко", "Мураши", "Мурманск", "Мурмаши", "Муром", "Муромцево", "Муслюмово", "Муханово",
        "Мухоршибирь", "Мучкапский", "Мценск", "Мыс Шмидта", "Мыски", "Мытищи", "Мышкино", "Набережные Челны", "Навашино",
        "Навля", "Нагорск", "Надым", "Назарово", "Назрань", "Называевск", "Нальчик", "Наровчат", "Нарофоминск", "Нарткала",
        "Нарышкино", "Нарьян-Мар", "Наурская", "Нахабино", "Находка", "Началово", "Невель", "Невельск", "Неверкино",
        "Невинномысск", "Невьянск", "Некрасовка", "Некрасовское", "Нелидово", "Нелькан", "Нема", "Неман", "Немчиновка",
        "Нерехта", "Нерчинск", "Нерчинский Завод", "Нерюнгри", "Нестеров", "Нефтегорск", "Нефтекамск", "Нефтекумск",
        "Нефтеюганск", "Нехаевский", "Нея", "Нижнеангарск", "Нижневартовск", "Нижнедевицк", "Нижнекамск", "Нижнеудинск",
        "Нижние Серги", "Нижний Ингаш", "Нижний Ломов", "Нижний Новгород", "Нижний Тагил", "Нижний Часучей", "Нижняя Омка",
        "Нижняя Салда", "Нижняя Тавда", "Нижняя Тура", "Никель", "Николаевск", "Николаевск-на-Амуре", "Никольск",
        "Никольское", "Новая Ляля", "Новая Малыкла", "Новая Усмань", "Новгород", "Новичиха", "Новоалександровск", "Новоалександровская",
        "Новоалтайск", "Новоаннинский", "Новобратцевский", "Новобурейский", "Нововаршавка", "Нововоронеж", "Нововятск",
        "Новодвинск", "Новодугино", "Новозыбков", "Новокузнецк", "Новокуйбышевск", "Новолакское", "Новомосковск", "Новониколаевский",
        "Новоорск", "Новопавловск", "Новоподрезково", "Новопокровка", "Новоржев", "Новороссийск", "Новоселицкое", "Новоселово",
        "Новосергиевка", "Новосибирск", "Новосиль", "Новосокольники", "Новоспасское", "Новотроицк", "Новоузенск", "Новоуральск",
        "Новохоперск", "Новочебоксарск", "Новочеркасск", "Новошахтинск", "Новошешминск", "Новые Бурасы", "Новый Некоуз",
        "Новый Оскол", "Новый Торьял", "Новый Уренгой", "Ногинск", "Ноглики", "Ножай-Юрт", "Нолинск", "Норильск",
        "Нурлат", "Ныроб", "Нытва", "Нычалах", "Нюксеница", "Нюрба", "Нягань", "Няндома", "Обливская", "Облучье",
        "Обнинск", "Обоянь", "Обухово", "Объячево", "Одесское", "Одинцово", "Одоев", "Ожерелье", "Озерновский", "Озерск",
        "Озеры", "Озинки", "Оконешниково", "Октябрьск", "Октябрьский", "Октябрьское", "Окуловка", "Ола", "Олекминск",
        "Оленегорск", "Оленино", "Оловянная", "Олонец", "Ольга", "Ольховатка", "Ольховка", "Омонск", "Омск",
        "Омсукчан", "Омутинский", "Омутнинск", "Онгудай", "Онега", "Опалиха", "Опарино", "Опочка", "Орда", "Орджоникидзе",
        "Орджоникидзевская", "Ордынское", "Орел", "Оренбург", "Орехово-Зуево", "Оричи", "Орлик", "Орловский", "Орск",
        "Оршанка", "Оса", "Осинники", "Оссора", "Осташков", "Остров", "Островское", "Острогожск", "Отрадная", "Отрадный",
        "Оус", "Оха", "Оханск", "Охотск", "Очер", "Павино", "Павловка", "Павлово", "Павловск", "Павловская", "Павловский Посад",
        "Павлоградка", "Палана", "Палатка", "Палех", "Палкино", "Палласовка", "Панино", "Парабель", "Параньга", "Парголово",
        "Парень", "Партизанск", "Партизанское", "Парфентьево", "Парфино", "Пахачи", "Пачелма", "Певек", "Пенза",
        "Пено", "Первомайск", "Первомайский", "Первомайское", "Первоуральск", "Перевоз", "Переволоцкий", "Перелюб",
        "Переметное", "Перемышль", "Переславль-Залесский", "Переяславка", "Пермь", "Пески", "Пестово", "Пестравка",
        "Пестрецы", "Пестяки", "Песчанокопское", "Петровск", "Петровск-Забайкальский", "Петровское", "Петродворец", "Петрозаводск",
        "Петропавловка", "Петропавловск-Камчатский", "Петропавловское", "Петухово", "Петушки", "Печора", "Печоры",
        "Пижанка", "Пикалёво", "Пильна", "Пинега", "Пировское", "Пироговский", "Пителино", "Питерка", "Питкяранта", "Пичаево",
        "Плавск", "Пласт", "Плесецк", "Плюсса", "Повенец", "Поворино", "Погар", "Пограничный", "Подгоренский", "Подгорное",
        "Поддорье", "Подольск", "Подосиновец", "Подпорожье", "Покачи", "Покров", "Покровка", "Покровск", "Покровское",
        "Полевской", "Полесск", "Половинное", "Полтавка", "Полушкино", "Полярные Зори", "Полярный", "Поназырево", "Пономаревка",
        "Поныри", "Порецкое", "Поронайск", "Порхов", "Поспелиха", "Похвистнево", "Почеп", "Починки", "Починок", "Пошехонье-Володарск",
        "Поярково", "Правдинск", "Правдинский", "Преградная", "Приаргунск", "Привокзальный", "Приволжск", "Приволжье",
        "Приморско-Ахтарск", "Приобье", "Приозерск", "Пристень", "Приютное", "Провидения", "Прокопьевск", "Пролетарск",
        "Пролетарский", "Промышленная", "Пронск", "Протвино", "Прохладный", "Пряжа", "Прямицыно", "Псков", "Пугачев",
        "Пудож", "Пуровск", "Пустошка", "Путятино", "Пучеж", "Пушкин", "Пушкино", "Пушкинские Горы", "Пущино", "Пыталово",
        "Пыть-Ях", "Пышма", "Пятигорск", "Радищево", "Радовицкий", "Радужный", "Раевский", "Райчихинск", "Ракитное",
        "Раменское", "Рамешки", "Рамонь", "Рассказово", "Ребриха", "Ревда", "Реж", "Ремонтное", "Репьевка", "Реутов",
        "Решетниково", "Ржакса", "Ржаница", "Ржев", "Ровеньки", "Ровное", "Рогнедино", "Родино", "Родионово-Несветайская", "Родники",
        "Романовка", "Ромны", "Ромоданово", "Рославль", "Россошь", "Ростов", "Ростов-на-Дону", "Рошаль", "Ртищево",
        "Рублево", "Рубцовск", "Рудня", "Руза", "Рузаевка", "Русская Поляна", "Русский Камешкир", "Русский", "Рутул",
        "Рыбинск", "Рыбная Слобода", "Рыбное", "Рыльск", "Ряжск", "Рязань", "Савино", "Сайхин", "Салават", "Салехард",
        "Салтыковка", "Сальск", "Самагалтай", "Самара", "Самарга", "Самойловка", "Сангар", "Сандово", "Санкт-Петербург", "Санчурск",
        "Сапожок", "Сараи", "Саракташ", "Саранск", "Сарапул", "Саратов", "Саргатское", "Сарманово", "Саров", "Сарыг-Сеп",
        "Саскылах", "Сасово", "Сатка", "Сафакулево", "Сафоново", "Саяногорск", "Саянск", "Свердловск", "Светлогорск",
        "Светлоград", "Светлый Яр", "Светлый", "Свеча", "Свободный", "Себеж", "Северное", "Северный", "Северо-Енисейский", "Северо-Курильск",
        "Северобайкальск", "Северодвинск", "Североморск", "Североуральск", "Северск", "Северская", "Севск", "Сегежа",
        "Седельниково", "Сеймчан", "Селенгинск", "Селижарово", "Селты", "Семикаракорск", "Семилуки", "Сенгилей", "Серафимович",
        "Сергач", "Сергиев Посад", "Сердобск", "Серебряные Пруды", "Сернур", "Серов", "Серпухов", "Серышево", "Сестрорецк",
        "Сеченово", "Сибай", "Сим", "Синегорье", "Сковородино", "Скопин", "Славгород", "Славск", "Славянка", "Славянск-на-Кубани",
        "Сладково", "Сланцы", "Слободской", "Слюдянка", "Смидович", "Смирных", "Смоленск", "Смоленское", "Снежинск",
        "Снежногорск", "Собинка", "Советск", "Советская Гавань", "Советский", "Советское", "Сокол", "Сокольское", "Солигалич",
        "Соликамск", "Солнечногорск", "Солнечнодольск", "Солнцево", "Солонешное", "Солтон", "Соль-Илецк", "Сольвычегодск",
        "Сольцы", "Сонково", "Сорочинск", "Сортавала", "Сосково", "Сосново-Озерское", "Сосновоборск", "Сосновское", "Сосновый Бор",
        "Сосногорск", "Сосьва", "Софийск", "Софпорог", "Софрино", "Сочи", "Спас-Деменск", "Спас-Клепики", "Спасск-Дальний",
        "Спасск-Рязанский", "Спасское", "Спирово", "Среднеколымск", "Среднеуральск", "Средняя Ахтуба", "Сретенск",
        "Ставрополь", "Сталинград", "Старая Кулатка", "Старая Купавна", "Старая Майна", "Старая Полтавка", "Старая Русса",
        "Старбеево", "Старица", "Староаллейское", "Старобалтачево", "Стародуб", "Старое Дрожжаное", "Старое Шайгово", "Старожилово",
        "Староминская", "Старосубхангулово", "Старощербиновская", "Староюрьево", "Старый Оскол", "Степное", "Стерлибашево",
        "Стерлитамак", "Стойба", "Стрежевой", "Строитель", "Струги-Красные", "Ступино", "Суворов", "Суджа", "Судиславль",
        "Судогда", "Суздаль", "Суземка", "Сузун", "Суксун", "Суна", "Сунтар", "Суоярви", "Сура", "Сураж", "Сургут (Самарская обл.)",
        "Сургут", "Суровикино", "Сурское", "Сусанино", "Сусуман", "Суть-Холь", "Сухиничи", "Сухой Лог", "Сходня",
        "Сызрань", "Сыктывкар", "Сысерть", "Сычевка", "Сюмси", "Сямжа", "Таборы", "Табуны", "Тавда", "Таврическое", "Таганрог",
        "Тазовский", "Тайга", "Тайшет", "Таксимо", "Талдом", "Талица", "Таловая", "Тальменка", "Тамала", "Тамбов",
        "Тамбовка", "Тара", "Тарасовский", "Тарко", "Тарко-Сале", "Тарногский Городок", "Тарумовка", "Таруса", "Тасеево",
        "Татарск", "Татищево", "Тацинский", "Ташла", "Таштагол", "Таштып", "Тбилисская", "Тверь", "Теберда", "Тевриз",
        "Тейково", "Текстильщик", "Темников", "Темпы", "Темрюк", "Теньгушево", "Тербуны", "Терек", "Терекли-Мектеб", "Тереньга",
        "Терней", "Терновка", "Тетюши", "Тигиль", "Тикси", "Тиличики", "Тим", "Тимашевск", "Тисуль", "Тихвин", "Тихорецк",
        "Тишково", "Тлярата", "Тобольск", "Тогучин", "Токаревка", "Тольятти", "Томари", "Томилино", "Томск", "Тонкино", "Тоншаево",
        "Тоора-Хем", "Топки", "Топчиха", "Торбеево", "Торжок", "Торопец", "Тосно", "Тотьма", "Тоцкое", "Тпиг",
        "Трехгорный", "Троицк", "Троицко-Печерск", "Троицкое", "Тросна", "Трубчевск", "Туапсе", "Туголесский Бор", "Тугулым",
        "Тугур", "Тужа", "Туймазы", "Тула", "Тулун", "Тульский", "Тупик", "Тура", "Туран", "Туринск", "Туринская Слобода", "Турки",
        "Турочак", "Турунтаево", "Туруханск", "Тутаев", "Тучково", "Тымовское", "Тымск", "Тында", "Тырныауз", "Тээли",
        "Тюкалинск", "Тюльган", "Тюменцево", "Тюмень", "Тюхтет", "Тяжинский", "Убинское", "Ува", "Уваровка", "Уварово",
        "Уват", "Увельский", "Углегорск", "Углич", "Угловское", "Угра", "Удельная", "Удомля", "Ужур", "Узловая", "Уинское",
        "Уйское", "Улан-Удэ", "Улеты", "Ульяново", "Ульяновск", "Умба", "Умет", "Унеча", "Уни", "Унъюган", "Упорово",
        "Уразовка", "Урай", "Уральск", "Урень", "Уржум", "Уркарах", "Урмары", "Урус-Мартан", "Урюпинск", "Усвяты",
        "Усинск", "Усмань", "Усогорск", "Усолье", "Усолье-Сибирское", "Успенское", "Уссурийск", "Устинов", "Усть-Авам",
        "Усть-Белая", "Усть-Большерецк", "Усть-Джегута", "Усть-Донецкий", "Усть-Илимск", "Усть-Ишим", "Усть-Калманка", "Усть-Камчатск",
        "Усть-Кан", "Усть-Катав", "Усть-Кишерть", "Усть-Кокса", "Усть-Кулом", "Усть-Кут", "Усть-Лабинск", "Усть-Мая",
        "Усть-Нера", "Усть-Омчуг", "Усть-Ордынский", "Усть-Тарка", "Усть-Уда", "Усть-Улаган", "Усть-Цильма", "Усть-Чарышская Пристань",
        "Устюжна", "Утта", "Уфа", "Ухолово", "Ухта", "Учалы", "Уяр", "Фаленки", "Фатеж", "Федоровка", "Ферзиково", "Фершампенуаз",
        "Фирово", "Фирсановка", "Фокино", "Фосфоритный", "Фролово", "Фрязино", "Фряново", "Фурманов", "Фурманово", "Хабаровск",
        "Хабары", "Хабез", "Халтурин", "Хандыга", "Ханты-Мансийск", "Харабали", "Харовск", "Хасавюрт", "Хасан",
        "Хатанга", "Хвалынск", "Хвастовичи", "Хвойное", "Хворостянка", "Хив", "Хилок", "Химки", "Хиславичи", "Хлевное",
        "Хову-Аксы", "Холм", "Холм-Жирковский", "Холмогоры", "Холмск", "Хомутовка", "Хомутово", "Хонуу", "Хоринск",
        "Хорлово", "Хороль", "Хотынец", "Хотьково", "Хохольский", "Хунзах", "Цаган-Аман", "Целина", "Целинное", "Цивильск",
        "Цимлянск", "Цуриб", "Чагода", "Чадан", "Чайковский", "Чалтырь", "Чамзинка", "Чаны", "Чапаев", "Чапаевск",
        "Чаплыгин", "Чара", "Чарышское", "Частые", "Чебаркуль", "Чебоксары", "Чегдомын", "Чегем-Первый", "Чекмагуш",
        "Челно-Вершины", "Челябинск", "Чердаклы", "Чердынь", "Черемисиново", "Черемушки", "Черемхово", "Черепаново",
        "Череповец", "Черкесск", "Черкизово", "Черлак", "Черниговка", "Черноголовка", "Черногорск", "Чернореченский", "Чернушка",
        "Черный Яр", "Чернышевск", "Чернышковский", "Чернянка", "Черняховск", "Черский", "Чертково", "Черусти", "Чесма",
        "Чехов", "Чикола", "Чистоозерное", "Чистополь", "Чита", "Чишмы", "Чкаловск", "Чокурдах", "Чугуевка", "Чудово",
        "Чулым", "Чумикан", "Чунский", "Чурапча", "Чусовой", "Чухлома", "Чучково", "Шаблыкино", "Шагонар", "Шадринск",
        "Шали", "Шалинское", "Шаран", "Шаранга", "Шарапово", "Шаркан", "Шарлык", "Шарыпово", "Шарья", "Шатки", "Шатрово",
        "Шатура", "Шатурторф", "Шаховская", "Шахтерск", "Шахты", "Шахунья", "Шацк", "Шебалино", "Шебекино", "Шексна",
        "Шелаболиха", "Шелехов", "Шелопугино", "Шемурша", "Шемышейка", "Шемятино", "Шенкурск", "Шентала", "Шербакуль",
        "Шереметьевский", "Шигоны", "Шилка", "Шилово", "Шимановск", "Шимск", "Шипуново", "Шира", "Шлиссельбург", "Шовгеновский",
        "Шолоховский", "Шуйское", "Шумерля", "Шумиха", "Шумячи", "Шушенское", "Шуя", "Щекино", "Щелково", "Щербинка",
        "Щигры", "Щучье", "Эвенск", "Эгвекинот", "Экимчан", "Электрогорск", "Электросталь", "Электроугли", "Элиста",
        "Энгельс", "Энергетик", "Эрзин", "Эртиль", "Югорск", "Южа", "Южно-Курильск", "Южно-Сахалинск", "Южно-Сухокумск",
        "Южно-Уральск", "Юкаменское", "Юрга", "Юргамыш", "Юрибей", "Юрино", "Юрла", "Юрьев-Польский", "Юрьевец", "Юрья",
        "Юрюзань", "Юста", "Юсьва", "Юхнов", "Ягодное", "Ядрин", "Ядрино", "Яковлевка", "Якутск", "Якшур-Бодья", "Ялуторовск",
        "Яльчики", "Янаул", "Янтиково", "Яр", "Яр-Сале", "Яранск", "Яренск", "Ярково", "Ярославль", "Ярцево", "Ясногорск",
        "Ясный", "Яхрома", "Яшалта", "Яшкино", "Яшкуль", "Яя"], {prompt: "- выбрать город -"}, class: 'form-control'
    .form-group.mb-3
      = f.text_field :name, placeholder: "Введите название", class: 'form-control'
    .form-group.mb-3
      = f.text_field :link, placeholder: "Ссылка", class: 'form-control'
    .form-group.mb-3
      = f.select :category,["Авто/мото", "Авторский блог", "Аниме/Манга/Манха/Манхуа", "Афиша", "Бизнес", "Блогеры", "Видеоигры", "В мире животных", "Гороскоп и Таро", "Дети и родители", "Дизайн", "Для мужчин", "Для женщин", "Инвестиции", "Интернет технологии", "Искусство", "История",
        "Каталог каналов", "Кино", "Красота и уход", "Криптовалюта", "Культура и события", "Кулинария", "Литература", "Магазин", "Маркетинг и PR", "Мода и стиль", "Мотивация и саморазвитие", "Музыка", "Наука и  технологии", "Недвижимость", "Новости и СМИ", "Образование", "Подкасты", "Пошлое",
        "Психология", "Путешествия и туризм", "Работа и вакансии", "Развлечения", "Религия и духовность", "Рукоделие", "Сервисы", "Скидки и акции", "Сливы", "Спорт", "Ставки и азартные игры", "Строительство и ремонт", "Трейдинг", "Фильмы и сериалы", "Хоббы",
        "Цитаты", "Экология", "Юмор", "18+", "SMM", "IT", "Gif Video", "Другое"], {prompt: "- выбрать категорию -"}, class: 'form-control'
    .form-group.mb-3
      = f.text_field :content, placeholder: "Описание объявления", class: 'form-control'
    .form-group.mb-3
      = f.text_field :price, placeholder: "Цена", class: 'form-control'
    .form-group.mb-3
      = f.label 'Изображение'
      = f.file_field :image, class: 'form-control'
    .form-group.mb-3
      = f.check_box :free, id: 'free', class: 'form-check-input'
      %b= f.label :option, 'Free - без продвижения', class: 'form-check-label', for: 'free'
    .form-group.mb-3
      = f.check_box :hot, id: 'hot', class: 'form-check-input'
      %b= f.label :hot, 'Поднять просмотры на 7 дней', class: 'form-check-label', for: 'hot'
      = f.label '(Делает ваше объявление более заметным по сравнению с другими)', class: 'form-check-label small', for: 'hot'
  -# .form-group.mb-3
  -#   = f.check_box :big_size, id: 'big_size', class: 'form-check-input'
  -#   %b= f.label :option, 'XXL-размер', class: 'form-check-label', for: 'big_size'
  -#   = f.label '(Объявление в ленте выдачи будет крупнее, а рядом с ним появится подробное описание)', class: 'form-check-label small', for: 'big_size'
  -# .form-group.mb-3
  -#   = f.check_box :carousel, id: 'carousel', class: 'form-check-input'
  -#   %b= f.label :option, 'Карусель', class: 'form-check-label', for: 'carousel'
  -#   = f.label '(Размещение объявления в карусели на главной странице. Доступно для всех категорий)', class: 'form-check-label small', for: 'carousel'
  %br
  .actions
    = f.submit 'Создать', class: 'btn btn-outline-primary btn-block', style: "width: 100%"


:javascript
  const roomRouteSelect = document.querySelector('#room_route')
  const roomSubdirSelect = document.querySelector('#room_subdir')
  const roomCatRouteSelect = document.querySelector('#room_cat_route')
  const roomServicesSelect = document.querySelector('#room_services')
  const otherBlocks = document.querySelector('#other_blocks')
  roomCatRouteSelect.addEventListener('change', (e) => {
    if (e.target.value == 'Канал' || e.target.value == 'Бот' || e.target.value == 'Чат') {
      roomSubdirSelect.classList.add('d-none')
    } else {
      roomSubdirSelect.classList.remove('d-none')
    }
  })
  roomCatRouteSelect.addEventListener('change', (e) => {
    if (e.target.value == 'Услуга') {
      otherBlocks.classList.add('d-none')
    } else {
      otherBlocks.classList.remove('d-none')
    }
  })
