%h1 Список объявлений
#room-id{"data-room-id" => @room.try(:id)}
#customer-id{"data-customer-id" => current_customer.id}
.container-fluid
  .row
    .col-9
      %hr
      #filterrific_results
        %table.filter.fo
          %tr.fo
            %th.fo Название
            %th.fo Что ищем?
            %th.fo Что именно
            %th.fo Город
            %th.fo Категория
            %th.fo Дата создания
            %hr
          - @rooms.each do |room|
            %tr.fo
              %td.fo= link_to(room.name, room_path(room))
              %td.fo= room.cat_route
              %td.fo= room.route
              %td.fo= room.city
              %td.fo= room.category
              %td.fo= room.created_at.to_date
