%h1 Список объявлений
#room-id{"data-room-id" => @room.try(:id)}
#customer-id{"data-customer-id" => current_customer.id}
.container-fluid
  .row
    .col-9
      %hr
      #filterrific_results
        %table.filter
          %tr
            %th Название
            %th Что ищем?
            %th Что именно
            %th Город
            %th Категория
            %th Дата создания
            %hr
          - @rooms.each do |room|
            %tr
              %td= link_to(room.name, room_path(room))
              %td= room.cat_route
              %td= room.route
              %td= room.city
              %td= room.category
              %td= room.created_at.to_date
%br
	
