%h1 Список объявлений
.container-fluid
  .row
    .col-3
      = render 'form', room: Room.new
      %hr
      - @rooms.each do |room|
        = link_to room do
          .card.mb-2
            .card-body
              = room.name
              = link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' }
    .col-9
      - if @room.present?
        .chat-room
          = @room.name
          = @room.posts.each do |post|
            .message.mb-2
              .content-container
                .author
                  - if post.customer == current_customer
                    = 'me'
                  - else
                    | #{post.customer.name}
                  .content
                    = post.content
                    = link_to 'Delete', post, method: :delete
          .chat-box
            = render 'posts/form', post: Post.new, room: @room
