%h1 Список объявлений
#room-id{"data-room-id" => @room.try(:id)}
#customer-id{"data-customer-id" => current_customer.id}
.container-fluid
  .row
    .col-3.rooms-sidebar
      = render 'form', room: Room.new
      %hr
      - @rooms.each do |room|
        .room-link
          = link_to room do
            .card.mb-2.room-card
              .card-body
                %span.name
                  = room.name
                  = link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' }
    .col-9
      - if @room.present?
        .chat-room
          = @room.name
          #messages
            = @room.posts.each do |post|
              = render 'posts/post', post: post
          .chat-box
            = render 'posts/form', post: Post.new, room: @room
