- provide(:title, 'Personal messages')

%h1 Мои объявления
= raw pagy_bootstrap_nav(@pagy).html_safe
#room-id{"data-room-id" => @room.try(:id)}
#customer-id{"data-customer-id" => current_customer.id}
.container-fluid
  .row
    .col-9
      %hr
      #filterrific_results
        %table.filter
          %tr
            %th
            %th Название
            %th Категория
            %th Дата создания
            %hr
          - @rooms.each do |room|
            %tr
              %td= image_tag room.image.url(:thumb), class: 'img-show' if room.image?
              %td= link_to room.name, room
              %td= room.category
              %td= room.created_at.to_date
%hr
= raw pagy_bootstrap_nav(@pagy).html_safe
