- provide(:title, 'Personal messages')

%h1 Мои объявления
#room-id{"data-room-id" => @room.try(:id)}
#customer-id{"data-customer-id" => current_customer.id}
.container-fluid
  .row
    .col-9
      %hr
      #filterrific_results
        %table.filter
          %tr
            %th
            %th Название
            %th Категория
            %th Дата создания
            %th
            %th
            %hr
          - @rooms.each do |room|
            %tr
              %td= image_tag room.image.url(:thumb), class: 'img-show' if room.image?
              %td= link_to room.name, room
              %td= room.category
              %td= room.created_at.to_date
              - if room.customer_id == current_customer.id || current_customer.admin?
                %td= link_to 'Редактировать', edit_room_path(room)
                %td= link_to 'Удалить', room, method: :delete, data: { confirm: 'Are you sure?' }
