= form_with(model: post, local: true) do |f|
  - if @post && @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.hidden_field :room_id, value: room.id

  .input-group
    = f.text_area :content, placeholder: 'Type your message...', class: 'form-control', style: 'width: 100%'

  .actions
    = f.submit 'Send message', class: 'btn btn-primary', style: 'width: 100%'
