%h1 Сообщения
- if logged_in?
  - if current_customer.admin? && !current_customer?(@customer)
    %table
      %thead
        %tr
          %th Содержание
          %th Автор
          %th Название
          %th
          %th
          %th

      %tbody
        - @posts.each do |post|
          %tr
            %td= post.content
            %td= post.customer.name
            %td= post.room.name
            %td= link_to 'Показать', post
            %td= link_to 'Редактировать', edit_post_path(post)
            %td= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }

    %br
  - else
    %table
      %thead
        %tr
          %th Содержание
          %th Название
          %th
          %th
          %th

      %tbody
        - @posts.each do |post|
          %tr
            %td= post.content
            %td= post.room.name
            %td= link_to 'Показать', post
            %td= link_to 'Редактировать', edit_post_path(post)
            %td= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' }

    %br
- else
  %li= link_to "Войти", login_path
  = link_to 'New Post', new_post_path
