%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = @post.content
%p
  %b Customer:
  = @post.customer
%p
  %b Room:
  = @post.room

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
