%p#notice= notice

%p
  %b Содержание:
  = @post.content
%p
  %b Гость:
  = @post.customer.name
%p
  %b Объявление:
  = @post.room.name

= link_to 'Редактировать', edit_post_path(@post)
\|
= link_to 'Назад', posts_path
