= form_for @micropost, html: {multipart: true} do |f|
  - if @micropost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@micropost.errors.count, "error")} prohibited this micropost from being saved:"
      %ul
        - @micropost.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_field :title, placeholder: 'Название', class: "form-control"
  %br
  .form-group
    = f.text_field :content, placeholder: 'Краткое содержание', class: "form-control"
  %br
  .form-group
    = f.text_field :body, placeholder: 'Полное содержание', class: "form-control"
  %br
  .form-group
    = f.file_field :image, class: "form-control"
  .actions
    = f.submit 'Сохранить', class: "form-control"
