= form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message

  .field
    = f.number_field :stars, placeholder: "Звезды"
  .field
    = f.number_field :customer_id, placeholder: "ID профиля"
  .field
    = f.text_area :content, placeholder: "Содержание"
  .actions
    = f.submit 'Отправить'
