/ Topbar Start
.container-fluid.bg-dark.px-5.d-block
  .row.gx-0
    .col-lg-4.text-center.text-lg-end
      .d-inline-flex.align-items-center{:style => "height: 45px;"}

      / Topbar End
  %nav.navbar.navbar-expand-lg.navbar-dark.px-5.py-3.py-lg-0{:style => "margin-left: 45px;"}
    %a.navbar-brand.p-0{:href => root_path}
      %h1.m-0
        %i.fas.fa-user-tie
        Telegagid
      %ul.nav.navbar-nav.navbar-right{:style => "margin-left: 30%;"}
        - if logged_in?
          %li
            %a
              = link_to "Posts", posts_path
              - if current_customer.admin? && !current_customer?(@customer)
                | #{link_to "Customers", customers_path, class: "btn btn-secondary"}
              | #{link_to current_customer.name, current_customer, class: "btn btn-secondary"}
              | #{link_to "Log out", logout_path, method: "delete", class: "btn btn-danger"}
        - else
          %li= link_to "Log in", login_path

    %button.navbar-toggler{"data-bs-target" => "#navbarCollapse", "data-bs-toggle" => "collapse", :type => "button"}
      %span.fas.fa-bars
      %button.btn.text-primary.ms-3{"data-bs-target" => "#searchModal", "data-bs-toggle" => "modal", :type => "button"}
        %i.fas.fa-search
